body {
    background-color: #999;
}

.container {
    text-align: center;
}

#clock{
    font-size: 3rem;
    font-weight: bold;
    padding: 12px;
}

#date{
    font-size: 2rem;
    padding: 10px;
}